<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3> Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input 
        type="text"
        name="listing[title]" 
        placeholder="Add a catchy Title"
        class="form-control"
        required
        />
        <div class="valid-feedback"> Title looks good!</div>
        </div>
        

        <div class="mb-3">
        <label for="description" class="form-label" >Description</label>
        <textarea 
            type="text" 
            name="listing[description]" 
            placeholder="enter description"
            class="form-control" 
            required
            ></textarea>
         <div class="invalid-feedback"> Please enter a short description</div>
            
        </div>

       
    <div class="row">
       <div class="mb-3 col-md-4">
       <lable for="price" class="form-label" class="form-label"> Price</lable>
         <input  name="listing[price]" placeholder="1200"
         class="form-control" required
          >
          <div class="invalid-feedback"> Price should be vaild</div>

       
       </div>
       <div class="mb-3 col-md-8">
        <label for="country" class="form-label" >Country</label>
        <input  type ="text" name="listing[country]" placeholder="India" class="form-control" required>
       <div class="invalid-feedback">Country should be valid</div>
       </div>
       
    </div>

       <div class="mb-3">
        <lable for="image" class="form-label">Image Link</lable>
         <input  type="text" name ="listing[image]" placeholder="enter image URL/Link" class="form-control">
         

       </div>
         
        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
             <input  type ="text" name="listing[location]" placeholder="Jaipur ,Rajasthan" class="form-control" required>
          <div class="invalid-feedback "> Location should be vaild</div>
        </div>


       
     
      

        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>

    </div>
</div>
   